<section class="regs_form">
    <div class="container">
        <h3 class="main_heading">Registraion form</h3>
        <hr />
        <form [formGroup]="form" (ngSubmit)="submitForm(form.value)">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" formControlName="name" placeholder="Name" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" formControlName="email" placeholder="Email" />
            </div>
            <div class="form-group">
                <label>Mobile</label>
                <input type="text" class="form-control" formControlName="mobile" placeholder="Mobile" />
            </div>
            <div class="form-group">
                <label>Date of birth</label>
                <input type="date" class="form-control" formControlName="dob" />
            </div>
            <div class="form-group">
                <label>Gender</label>
                <div class="custome_radio">
                    <input type="radio" formControlName="gender" name="gender" id="male" value="male" />
                    <label for="male"> Male </label>
                    <input type="radio" formControlName="gender" name="gender" id="female" value="female" />
                    <label for="female">Female</label>
                <label>
                </label>
               </div>
            </div>
            <div class="form-group address" formArrayName="address">
               <div *ngFor="let item of getControls(); let i = index">
                   <div [formGroupName]="i" class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" placeholder="Street" formControlName="street" />
                        <input type="text" class="form-control" placeholder="State" formControlName="state" />
                        <input type="text" class="form-control" placeholder="Zipcode" formControlName="zipcode" /> 
                   </div>
               </div>
            </div>
            <button type="button" class="add_more_btn" (click)="addAddress()" *ngIf="getControls().length !== 2">Add more address</button>
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</section>