.formArray {
    padding: 60px 0;

    form {
        max-width: 500px;
    }

    .form-group {
        position: relative;
    }

    .remove {
        position: absolute;
        bottom: 6px;
        right: 4px;
        padding: 4px 9px;
        background-color: #F44336;
        color: #fff;
        border: 1px solid #f44336;
        cursor: pointer;
    }
}