<div class="pdf">
    <div class="container">
       <div class="head">
        <h6>Business owner policy</h6>
        <h2>02SBAAY4SLU</h2>
        <p>07/01/2022 - 07/01/2023</p>
       </div>
        <div class="details">
            <div class="row">
                <div class="col">
                    <p><span>insured</span></p>
                    <strong>Emma rt update 201 woods park dr</strong>
                </div>
                <div class="col">
                    <p><span>insured</span></p>
                    <strong>Emma rt update 201 woods park dr</strong>
                </div>
                <div class="col">
                    <p><span>insured</span></p>
                    <strong>Emma rt update 201 woods park dr</strong>
                </div>
                <div class="col">
                    <p><span>insured</span></p>
                    <strong>Emma rt update 201 woods park dr</strong>
                </div>
            </div>
        </div>
        <div class="body_pdf">
            <div class="top">
                <span style='font-size:100px;'>&#9989;</span>
                <h2>We're On it</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, itaque.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, itaque Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col">
                        <h3>Request Details</h3>
                    </div>
                    <div class="col">
                        <button type="button" id="download" (click)="downloadpdf()">Download</button>   
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col">
                        <h4>Policy Change</h4>
                        <hr />
                        <p>Add stretch coverage</p>
                        <p>Effective: 11/12/2023</p>
                    </div>
                    <div class="col">
                        <h4>Policy Change</h4>
                        <hr />
                        <p>Add stretch coverage</p>
                        <p>Effective: 11/12/2023</p>
                    </div>
                    <div class="col">
                        <h4>Policy Change</h4>
                        <hr />
                        <p>Add stretch coverage</p>
                        <p>Effective: 11/12/2023</p>
                    </div>
                </div>
                <div class="col">
                    <h4>Policy Change</h4>
                    <hr />
                    <p>Add stretch coverage</p>
                    <p>Effective: 11/12/2023</p>
                </div>
                <div class="col">
                    <h4>Policy Change</h4>
                    <hr />
                    <p>Add stretch coverage</p>
                    <p>Effective: 11/12/2023</p>
                </div>
                <div class="col">
                    <h4>Policy Change</h4>
                    <hr />
                    <p>Add stretch coverage</p>
                    <p>Effective: 11/12/2023</p>
                </div>
                <div class="col">
                    <h4>Policy Change</h4>
                    <hr />
                    <p>Add stretch coverage</p>
                    <p>Effective: 11/12/2023</p>
                </div>
                <div class="col">
                    <h4>Policy Change</h4>
                    <hr />
                    <p>Add stretch coverage</p>
                    <p>Effective: 11/12/2023</p>
                </div>
            </div>
        </div>
    </div>
</div>